*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

#audioFile {
    padding: 10px;
}